@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');

body {
    font-family: 'Nunito', sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
}

.links a {
    text-align: center;
    color: rgb(0, 0, 0);
    font-weight: bold;
    margin-left: 25px;
    font-size: 20px;
    font-family: 'Nunito', sans-serif;
    text-decoration: none;
    color: #3A5E9B;
}

.links img {
    width: 40px;
    margin-bottom: -8px;
    margin-left: -20px;
}

.links {
    width: 100%;
    background-color: #E8F4F8;
    margin-top: 0;
    font-weight: bold;
    color: #ffffff;
    z-index: 1000;
    position: relative;
    top: 0;
}

.links p {
    background-color: #3A5E9B;
    margin: 0px;
    font-size: 45px;
    font-family: 'Nunito', sans-serif;
    padding: 0px; /* Added padding */
}

.cadastrar {
    max-width: 400px;
    margin: 20px auto;
    padding: 40px; /* Adjusted padding */
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
    padding-bottom: 40px; /* Adjusted padding-bottom */
}

.cadastrar h2 {
    text-align: center;
    color: #3A5E9B;
    font-size: 25px;
    margin-top: -20px;
}

form {
    width: 80%;
    max-width: 500px;
    margin: 20px auto;
    padding: 20px;
}

label {
    display: block;
    margin-top: 10px;
    color: #3A5E9B;
}

input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px; /* Adjusted margin-bottom */
    box-sizing: border-box;
}

input[type="radio"] {
    margin-top: 10px;
    margin-bottom: 15px; /* Adjusted margin-bottom */
}

input[type="submit"] {
    background-color: #3A5E9B;
    color: #E8F4F8;
    padding: 15px 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 0 10px 0 rgba(58, 94, 155, 0.5);
    border-radius: 5px;
    margin-bottom: -10px; /* Adjusted margin-bottom */
}

input[type="submit"]:hover {
    background-color: #265181;
}

.linha {
    display: flex;
    align-items: center;
}

.linha label {
    margin-right: 10px;
}

.linha input[type="radio"] {
    margin-right: 5px;
}

.tete {
    margin-bottom: 10px;
}